.subheader {
  background: linear-gradient(170deg, #22e1ff 0%, #1d8fe1 51.79%, #625eb1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subheader2 {
  background: linear-gradient(90deg, rgba(216,188,197,1) 0%, rgba(230,79,209,1) 0%, rgba(163,223,236,1) 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}